{% extends 'default_frame.twig' %}

{% set menus = ['content', 'banner'] %}

{% block title %}バナー情報設定{% endblock %}
{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{% block javascript %}
    <script>
        {% if Banner.Id is null %}
        $(document).ready(function () {
            if (!$("#admin_banner_start_date_time_hour").val()) {
                $("#admin_banner_start_date_time_hour").val(0)
            }
            if (!$("#admin_banner_start_date_time_minute").val()) {
                $("#admin_banner_start_date_time_minute").val(0)
            }
            if (!$("#admin_banner_end_date_time_hour").val()) {
                $("#admin_banner_end_date_time_hour").val(23)
            }
            if (!$("#admin_banner_end_date_time_minute").val()) {
                $("#admin_banner_end_date_time_minute").val(59)
            }
        });
        {% endif %}
    </script>
{% endblock %}
{% block main %}
    <div class="row" id="aside_wrap">
        <form name="form1" role="form" class="form-horizontal h-adr" id="point_form" method="post" action=""
              enctype="multipart/form-data">
            <span class="p-country-name" style="display:none;">Japan</span>
            {{ form_widget(form._token) }}

            <div id="detail_wrap" class="col-md-9">
                <div id="detail_box" class="box">
                    <div id="detail_box__header" class="box-header">
                        <h3 class="box-title">基本情報編集</h3>
                    </div>
                    <!-- /.box-header -->
                    <div id="detail_box__body" class="box-body">

                        {{ form_row(form.banner_position) }}
                        {{ form_row(form.Campaign) }}
                        {{ form_row(form.name) }}
                        {#{{ form_row(form.caption) }}#}
                        {#{% if Banner.ImagePath is null %}#}
                        {#{{ form_row(form.image_path) }}#}
                        {#{% else %}#}
                        {#{% endif %}#}
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <img style="max-width: 100%;" src="{{ generate_banner_path(Banner.ImagePath) }}" alt="">
                            </div>
                        </div>
                        {{ form_row(form.image_path) }}
                        {{ form_row(form.link) }}
                        {{ form_row(form.link_method) }}
                        <div class="{{ Banner.Campaign ? 'hidden':'' }}">
                            {{ form_row(form.start_date) }}
                            {{ form_row(form.end_date) }}
                        </div>
                    </div>
                    <!-- /.box-body -->


                </div>
                <!-- /.box -->
                <div id="detail_box__footer" class="row hidden-xs hidden-sm">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                        <p><a href="{{ url('admin_setting_banner') }}">バナー管理画面に戻る</a></p>
                    </div>
                </div>

            </div>
            <div class="col-md-3" id="aside_column">
                <div id="common_box" class="col_inner">
                    <div id="common_button_box" class="box no-header">
                        <div id="common_button_box__body" class="box-body">
                            <div id="common_button_box__insert_button_area" class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" type="submit">登録</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.col -->

        </form>
    </div>

{% endblock %}