<hr>
<button type="button" onclick="selectAll()" class="btn btn-info">検索結果を全件登録</button><br><br>
<table class="table table-bordered">
    <tr>
        <td colspan="5">検索結果{{ pagination.totalItemCount }}件が該当しました。</td>
    </tr>
    {% if pagination.totalItemCount %}
        <tr>
            <th>商品情報</th>
            <th class="text-center {% if Campaign.Shop1Flg %} bg-primary {% endif %}">サーパスショップ<br>(※契約者用)</th>
            <th class="text-center {% if Campaign.Shop2Flg %} bg-primary {% endif %}">サーパスショップ<br>(※入居者用)</th>
            <th class="text-center {% if Campaign.Shop3Flg %} bg-primary {% endif %}">くらしスクエア<br>ショップ</th>
            <th></th>
        </tr>
    {% endif %}
    {% if pagination.totalItemCount %}
        {% for Product in pagination %}
            <tr>
                <td class="valignM">
                    {{ Product.name }}
                    {% if Product.code_min %}
                        <br>
                        <span>{{ Product.code_min }}
                            {% if Product.code_min != Product.code_max %} ～ {{ Product.code_max }}
                            {% endif %}
                        </span>
                    {% endif %}
                </td>

                <td class="text-center valignM  {% if Campaign.Shop1Flg %} info {% endif %}">
                    {% if Product.Status.Id == 1 and Product.StatusShop1.Id == 1 %}
                        公開
                    {% else %}
                        非公開
                    {% endif %}
                    {% if Product.check and Product.check.shop1_flg %}
                        <br>
                        <small class="text-danger">「{{ Product.check.campaign_name }}」使用中</small>
                    {% endif %}
                </td>
                <td class="text-center valignM  {% if Campaign.Shop2Flg %} info {% endif %}">
                    {% if Product.Status.Id == 1 and Product.StatusShop2.Id == 1 %}
                        公開
                    {% else %}
                        非公開
                    {% endif %}
                    {% if Product.check and Product.check.shop2_flg %}
                        <br>
                        <small class="text-danger">「{{ Product.check.campaign_name }}」使用中</small>
                    {% endif %}

                </td>
                <td class="text-center valignM  {% if Campaign.Shop3Flg %} info {% endif %}">
                    {% if Product.Status.Id == 1 and Product.StatusShop3.Id == 1 %}
                        公開
                    {% else %}
                        非公開
                    {% endif %}
                    {% if Product.check and Product.check.shop3_flg %}
                        <br>
                        <small class="text-danger">「{{ Product.check.campaign_name }}」使用中</small>
                    {% endif %}

                </td>
                <td width="50">
                    <form method="POST" action="{{ url('admin_setting_campaign_product_register') }}">
                        <input type="hidden" name="campaign_id">
                        <input type="hidden" name="product_id" value="{{ Product.id }}">

                        <button {{ Product.check ? 'disabled':'' }} class="btn btn-primary">決定</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
{% if pagination.totalItemCount %}
    <div class="text-center">
        <ul class="pagination">
            {% for i in pagination.paginationData.pagesInRange %}
                {% if i == pagination.paginationData.current %}
                    <li class="active"><a onclick="goToPage({{ i }})" href="#">{{ i }}</a></li>
                {% else %}
                    <li><a onclick="goToPage({{ i }})" href="#">{{ i }}</a></li>
                {% endif %}

            {% endfor %}
        </ul>
    </div>
{% endif %}
