{% extends 'default_frame.twig' %}

{% set menus = ['content', 'campaign'] %}

{% block title %}キャンペーン管理{% endblock %}
{% form_theme searchProductModalForm 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">対象商品設定</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="margin-bottom: 20px;">

                        <a href="#" data-toggle="modal" data-target="#searchProductModal"
                           class="btn btn-primary">商品選択</a>
                        <a href="{{ url('admin_setting_campaign_product_clear_list',{campaign_id:Campaign.id}) }}"
                           class="btn btn-default" token-for-anchor="{{ Campaign.id }}" data-method="delete"
                           data-message="商品リストをクリアしてもよろしいですか？">商品クリア</a>
                    </div>

                    <br>

                    <table class="table table-bordered">
                        <th>商品情報</th>
                        <th class="text-center {% if Campaign.Shop1Flg %} bg-primary {% endif %}">サーパスショップ<br>(※契約者用)
                        </th>
                        <th class="text-center {% if Campaign.Shop2Flg %} bg-primary {% endif %}">サーパスショップ<br>(※入居者用)
                        </th>
                        <th class="text-center {% if Campaign.Shop3Flg %} bg-primary {% endif %}">くらしスクエア<br>ショップ</th>
                        <th></th>

                        {% for CampaignTargetProduct in pagination %}
                            <tr>
                                <td>
                                    {{ CampaignTargetProduct.Product.name }}
                                    {% if CampaignTargetProduct.Product.code_min %}
                                        <br>
                                        <span>{{ CampaignTargetProduct.Product.code_min }}
                                            {% if CampaignTargetProduct.Product.code_min != CampaignTargetProduct.Product.code_max %} ～ {{ CampaignTargetProduct.Product.code_max }}
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                </td>
                                <td class="text-center valignM  {% if Campaign.Shop1Flg %} info {% endif %}">
                                    {% if CampaignTargetProduct.Product.Status.Id == 1 and CampaignTargetProduct.Product.StatusShop1.Id == 1 %}
                                        公開
                                    {% else %}
                                        非公開
                                    {% endif %}
                                </td>
                                <td class="text-center valignM  {% if Campaign.Shop2Flg %} info {% endif %}">
                                    {% if CampaignTargetProduct.Product.Status.Id == 1 and CampaignTargetProduct.Product.StatusShop2.Id == 1 %}
                                        公開
                                    {% else %}
                                        非公開
                                    {% endif %}
                                </td>
                                <td class="text-center valignM  {% if Campaign.Shop3Flg %} info {% endif %}">
                                    {% if CampaignTargetProduct.Product.Status.Id == 1 and CampaignTargetProduct.Product.StatusShop3.Id == 1 %}
                                        公開
                                    {% else %}
                                        非公開
                                    {% endif %}
                                </td>
                                <td class="text-center" width="100">
                                    <a href="{{ url('admin_setting_campaign_product_delete',{campaign_id:Campaign.id,id:CampaignTargetProduct.Product.id}) }}"
                                       class="btn btn-danger" token-for-anchor="{{ CampaignTargetProduct.Product.id }}"
                                       data-method="delete"
                                       data-message="商品を削除してもよろしいですか？">削除</a>
                                </td>

                            </tr>
                        {% endfor %}
                        {% if pagination.totalItemCount <= 0 %}
                            <tr>
                                <td colspan="5">データがありません。</td>
                            </tr>
                        {% endif %}
                    </table>
                    {% if pagination.totalItemCount %}
                        <div class="text-center">
                            <ul class="pagination">
                                {% if pagination.paginationData.previous is defined %}
                                    <li><a href="?page={{ pagination.paginationData.previous }}">前へ</a></li>
                                {% endif %}
                                {% for i in pagination.paginationData.pagesInRange %}
                                    {% if i == pagination.paginationData.current %}
                                        <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}

                                {% endfor %}

                                {% if pagination.paginationData.next is defined %}
                                    <li><a href="?page={{ pagination.paginationData.next }}">次へ</a></li>
                                {% endif %}

                            </ul>
                        </div>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>

            <!-- /.box -->
            <div class="row hidden-xs hidden-sm">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                    <p><a href="{{ url('admin_setting_campaign_edit',{id:Campaign.id}) }}">キャンペーン登録画面に戻る</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        function goToPage1(page) {
            $("#searchForm input[name=page]").val(page);
            $("#searchForm").submit();
        }

        function goToPage(page) {
            $("#searchProductModalForm input[name=page]").val(page);
            $("#searchProductModalForm").submit();
        }

        function selectAll() {
            window.location.href = "{{ url('admin_setting_campaign_product_select_all',{campaign_id:Campaign.id}) }}?" + $("#searchProductModalForm").serialize();

        }

        $(document).ready(function () {
            $("#searchProductModalForm").submit(function (e) {
                e.preventDefault();
                var $btn = $("#searchProductModalButton").button('loading')
                $.get('{{ url('admin_setting_campaign_product_search',{campaign_id:Campaign.id}) }}', $(this).serializeArray(), function (data) {
                    $("#searchProductModalList").html(data);
                    $("#searchProductModalList input[name=campaign_id]").val('{{ Campaign.id }}');
                    $btn.button('reset');
                });
            });
        });
    </script>
{% endblock %}

{% block modal %}
    <div class="modal" id="searchProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                class="modal-close" aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">商品検索</h4>
                </div>
                <div class="modal-body">
                    <form id="searchProductModalForm">
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="hidden" name="page" value="1">
                                <div class="form-group">
                                    {{ form_widget(searchProductModalForm.id, { attr : { placeholder : '商品名・ID・商品コード' } } ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(searchProductModalForm.category_id) }}
                                </div>
                                <div class="form-group">

                                    <button type="submit" id="searchProductModalButton" data-loading-text="データ準備中…"
                                            class="btn btn-primary">検索
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div class="form-group" id="searchProductModalList"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
