{% extends 'default_frame.twig' %}

{% set menus = ['setting','shop', 'shop_delivery_csv_upload'] %}


{% block title %}ショップ設定{% endblock %}
{% block sub_title %}配送方法登録CSVアップロード{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/spin.min.js"></script>
    <script>
        $(function () {

            var opts = {
                lines: 13,
                length: 30,
                width: 2,
                radius: 12,
                corners: 1,
                rotate: 0,
                direction: 1,
                color: '#BBB',
                speed: 1,
                trail: 67,
                shadow: true,
                hwaccel: false,
                className: 'spinner',
                zIndex: 2e9,
                top: top
            };

            ImageSpinner = new Spinner(opts).spin(document.getElementById('spinner'));
            ImageSpinner.stop();

            $('#upload-form').submit(function () {
                $('#upload-button').attr('disabled', 'disabled');
                $('#download-button').attr('disabled', 'disabled');
                ImageSpinner.spin(document.getElementById('spinner'));
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <form id="upload-form" class="form-inline" method="post"
                  action="{{ url('admin_setting_shop_delivery_csv_upload') }}" {{ form_enctype(form) }}>
                {{ form_widget(form._token) }}
                <div id="upload_wrap" class="box">
                    <div id="upload_box__header" class="box-header">
                        <h3 class="box-title">配送方法登録CSV</h3>
                    </div><!-- /.box-header -->
                    <div id="upload_box__body" class="box-body">
                        <div id="upload_box__body_inner" class="form-group">
                            <label class="col-sm-5 control-label">CSVファイル選択</label>
                            <div id="upload_box__file" class="col-sm-7">
                                {{ form_widget(form.import_file, {'attr': {'accept': 'text/csv,text/tsv'}}) }}
                                {{ form_errors(form.import_file) }}
                            </div>
                            {% for error in errors %}
                                <div id="upload_box__error--{{ loop.index }}"
                                     class="text-danger">{{ error.message }}</div>
                            {% endfor %}
                        </div>
                        <div id="spinner"></div>
                    </div><!-- /.box-body -->
                    <div class="box-footer text-center">
                        <button id="upload-button" type="submit" class="btn btn-primary btn-sm">CSVファイルのアップロード</button>
                    </div><!-- /.box-footer -->
                </div><!-- /.box -->
            </form>
        </div><!-- /.col -->
    </div>

    <div id="file_format" class="row">
        <div id="file_format_box" class="col-md-12">
            <div id="file_format_box__body" class="box">
                <div id="file_format_box__header" class="box-header">
                    <a href="/template/admin/assets/csv/delivery.csv" id="download-button"
                       class="btn btn-default pull-right btn-xs">雛形ファイルダウンロード</a>
                    <h3 class="box-title">配送方法登録CSVファイルフォーマット</h3>
                </div><!-- /.box-header -->
                <div id="file_format_box__body_inner" class="box-body no-padding">
                    <div id="file_format_box__list_box" class="table_list">
                        <div id="file_format_box__list_box_body"
                             class="table-responsive no-border table-menu table-responsive-overflow">
                            <table class="table table-striped">
                                <thead>
                                <tr id="file_format_box__header" class="text-nowrap">
                                    {% for header in headers|keys %}
                                        <th id="file_format_box__header--{{ loop.index }}">{{ header }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr id="file_format_box__list" class="text-nowrap">
                                    <td id="file_format_box__id">
                                        EC-CUBEで管理している配送業者ID<br>
                                        ・既存の配送業者を変更する場合はIDを設定します。<br>
                                        ・新規登録時は未設定にします。自動で配送業者IDが付与されます。<br>
                                        <div class="text-danger">・IDが重複すると上書きされてしまいますので、注意してください。</div>
                                    </td>
                                    <td>
                                        <div class="text-danger">必須</div>
                                        ・配送業者名を設定
                                    </td>
                                    <td>
                                        <div class="text-danger">必須</div>
                                        ・名称を設定<br>
                                        ・お客さま側にも表示されます。
                                    </td>
                                    {#<td>・伝票No.URL設定</td>#}
                                    <td>
                                        <div class="text-danger">必須</div>
                                        ・IDはマスタデータ管理「mtb_product_type」を参照
                                    </td>
                                    <td>・ショップ備考を設定</td>
                                    <td>
                                        <div class="text-danger">必須</div>
                                        ・複数設定する場合は「"」で全体を囲み、カンマ区切りで設定します。<br>
                                        クレジットカード決済(後払い)：1<br>
                                        銀行振込決済(前払い)：2<br>
                                        コンビニ決済(前払い)：3
                                    </td>
                                    <td>
                                        複数設定する場合は「"」で全体を囲み、カンマ区切りで設定します。
                                    </td>
                                    {% for i in range(0, 46) %}
                                        {% if i > 38 %}
                                            <td>未設定の場合0となります。</td>
                                            {% else %}
                                                <td class="text-danger">必須</td>

                                        {% endif %}
                                    {% endfor %}
                                    <td></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>

{% endblock %}
