<div class="table-responsive">
    <table class="table">
        <tbody>
        {% for Product in pagination %}

            <tr>
                <td class="valignM">
                    {{ Product.name }}
                    {% if Product.code_min %}
                        <br>
                        <span>{{ Product.code_min }}
                            {% if Product.code_min != Product.code_max %} ～ {{ Product.code_max }}
                            {% endif %}
                        </span>
                    {% endif %}
                </td>
                <td class="text-right" width="10">
                    <form method="POST" action="{{ url('admin_setting_ranking_add') }}">
                        <input type="hidden" name="product_id" value="{{ Product.Id }}">
                        <button type="submit" class="btn btn-default btn-sm">
                            決定
                        </button>
                    </form>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    {% if pagination.totalItemCount > 0 %}
        {% include "pager.twig" with {'pages': pagination.paginationData, 'routes': 'admin_setting_ranking_search_product_page'} %}
    {% endif %}
</div>
