{% extends 'default_frame.twig' %}
{% block breadcrumb %}

    <nav>
        <div id="M_topicPathWrap">
            <ul id="M_topicPath1">
                <li><a href="{{ url('top') }}">トップ</a></li>
                <li>ご利用ガイド</li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="section infoSection">
        <h2 class="h_bdr mb15">
            <img src="{{ app.config.front_urlpath }}/img/html/guide_h01.png" alt="GUIDE ご利用ガイド" class="pcOnly">
            <img src="{{ app.config.front_urlpath }}/img/html/guide_h01@2x.png" alt="GUIDE ご利用ガイド"
                 class="spOnly">
        </h2>
        <div class="infoDetails">
            <ul class="guide_nav cf">
                <li><a href="#guide01">注文方法</a></li>
                <li><a href="#guide02">お支払いについて</a></li>
                <li><a href="#guide03">配送について</a></li>
                <li><a href="#guide04">消費税について</a></li>
                <li><a href="#guide05">返品について</a></li>
                <li class="wide"><a href="#guide06">クーポンのご利用について</a></li>
　　　　　<li class="wide"><a href="#guide07">ご利用環境について</a></li>
            </ul>
            <div id="guide01" class="guideLink">
                <div class="mb50">
                    <h3 class="h_bdr2">注文方法</h3>
                    <div class="white_box">
                        <h4 class="h_brown">&lt;手順1&gt; 商品を選び買い物かごに入れる</h4>
                        <p class="mb0">購入したい商品を選び、「カートに入れる」をクリックしてください。
                            買い物かご画面が表示されます。ほかの商品を購入される場合は、「お買い物を続ける」をクリックしてください。</p>
                    </div>
                    <p class="tx_c"><img src="{{ app.config.front_urlpath }}/img/html/guide_arrow01.png" alt="↓">
                    </p>
                    <div class="white_box">
                        <h4 class="h_brown">&lt;手順2&gt; 送付先を確認する</h4>
                        <p class="mb0">
                            買い物かご画面の「ご注文手続きへ」をクリックしてください。クーポンをお持ちの方は、クーポンコードを入力。ポイントをお使いになられる方は「ポイント利用」を選択または利用ポイント数を入力してください。<br>
                            商品の送付先が、お住まいの住所と異なる場合は、配送情報のお届け先の「変更」からご入力ください。<br>
                            ※商品ごとに送付先を設定することも可能です。</p>
                    </div>
                    <p class="tx_c"><img src="{{ app.config.front_urlpath }}/img/html/guide_arrow01.png" alt="↓">
                    </p>
                    <div class="white_box">
                        <h4 class="h_brown">&lt;手順3&gt; 決済方法・注文内容を確認する</h4>
                        <p class="mb0">お支払方法は、クレジットカードによる支払い、またはコンビニ決済(前払い)、銀行振込決済(前払い)がご利用いただけます。注文内容に間違いがないかどうかご確認ください。</p>
                    </div>
                    <p class="tx_c"><img src="{{ app.config.front_urlpath }}/img/html/guide_arrow01.png" alt="↓">
                    </p>
                    <div class="white_box">
                        <h4 class="h_brown">&lt;手順4&gt; 注文内容を確定する</h4>
                        <p class="mb0">
                            「注文する」ボタンをクリックするとイオンレジの画面に遷移いたします。画面指示に従って決済を行ってください。※決済画面は支払い方法により異なります。最後に「ご注文番号」が表示されます。この画面が表示された段階で購入（取引成立）となります。</p>
                    </div>
                    <p class="tx_c"><img src="{{ app.config.front_urlpath }}/img/html/guide_arrow01.png" alt="↓">
                    </p>
                    <div class="white_box">
                        <h4 class="h_brown">&lt;手順5&gt; ご注文ありがとうございました。</h4>
                        <p class="mb0">
                            ご注文の受付が完了しました。受信設定をされている場合は、「{{ BaseInfo.Email01 }}」アドレスのメールが受信できるよう設定をお願いします。、受信設定が正しくされていて、メールが届かない場合は注文が正常に完了していない可能性がございます。お手数ですが、サイト上の「お問い合わせ」画面よりご連絡くださいますようお願いいたします。</p>
                    </div>
                </div>
            </div>
            <div id="guide02" class="guideLink">
                <div class="mb50">
                    <h3 class="h_bdr2">お支払いについて</h3>
                    <p>下記決済方法がご利用いただけます。</p>
                    <div class="white_box">
                        <h4 class="h_brown">●クレジット決済（後払い）</h4>
                        <p class="mb10">VISA, MasterCard, JCB, AMERICAN EXPRESS, Diners Club</p>
                        <p class="mb0"><img src="{{ app.config.front_urlpath }}/img/html/guide_img01.jpg" alt="クレジットカード会社">
                        </p>
                    </div>
                    <div class="white_box">
                        <h4 class="h_brown">●コンビニ決済（前払い）</h4>
                        <p class="mb10">ローソン、ミニストップ(Loppi)、ファミリーマート(Famiポート)、セイコーマート(クラブステーション)、デイリーヤマザキにてお支払いただけます。</p>
                        <p class="mb0"><img src="{{ app.config.front_urlpath }}/img/common/convenience_logo.png" alt="コンビニ">
                        </p>
                    </div>
                    <div class="white_box">
                        <h4 class="h_brown">●銀行振込（前払い）</h4>
                        <p class="mb10">三菱UFJ銀行、三井住友銀行</p>
                        <p class="mb0"><img src="{{ app.config.front_urlpath }}/img/common/bank_logo.png" alt="銀行">
                        </p>
                    </div>
                </div>
            </div>
            <div id="guide03" class="guideLink">
                <div class="mb50">
                    <h3 class="h_bdr2">配送について</h3>
                    <ul class="normal">
                        <li>送料は商品ごとに異なりますので、各商品詳細ページにてご確認ください。<br>
                            ※商品によってはクール宅急便料金がかかるものもございます。
                        </li>
                    </ul>
                </div>
            </div>
            <div id="guide04" class="guideLink">
                <div class="mb50">
                    <h3 class="h_bdr2">消費税について</h3>
                    <ul class="normal">
                        <li>消費税率：8％<br>※消費税相当額は、税法の改定に合わせて改定します。</li>
                    </ul>
                </div>
            </div>
            <div id="guide05" class="guideLink">
                <div class="mb50">
                    <h3 class="h_bdr2">返品について</h3>
                    <ul class="normal">
                        <p><li>注文確定後、商品のお届け前に契約のキャンセルをご希望される場合は、当ショップお問い合わせ窓口/お客さま総合相談室「穴吹コンタクトセンター」までご連絡ください。</li>
                        <li>商品のお届け後に商品の返品をご希望される場合は、商品到着後10日以内に「お問い合わせ窓口」にご連絡いただき、当ショップが指定する返品場所に商品をご返送ください。</li>
                        <li>商品到着後11日以上経過した商品に関してはキャンセル・返品を受け付けることができません。また、商品到着後10日以内であっても下記商品についてはキャンセル・返品を受け付ける事ができませんので予めご了承ください。</li>
                        <li>商品に明らかな欠陥がある場合または品違いの場合、返品・交換にかかる送料等は当ショップが負担致します。商品がお気に召さない場合等、利用者のご都合による返品・交換の場合は、送料等は利用者の負担とさせていただきますので、予めご了承ください。</li></p>
                       ※キャンセル・返品をお受けすることができない商品<br>
1.開封された商品およびご使用になられた商品<br>
2.利用者の責任でキズ、汚れが生じた商品<br>
3.飲食品<br>
4.通電後の電気製品<br>
5.セット商品の一部<br>
6.パッケージ（袋・ケース）のない商品<br>
7.オーダー商品・ネーム入り商品など、利用者のために加工された商品<br>
8.その他、商品詳細ページに返品できない旨が明記されている商品<br>
（詳細は、商品詳細ページにてご確認ください）<br>

                    </ul>
                </div>
            </div>
            <div id="guide06" class="guideLink">
                <div class="mb50">
                    <h3 class="h_bdr2">クーポンのご利用について</h3>
                    <p>{{ BaseInfo.ShopName }}でのお買い物金額が値引きになる特典です。<br>
                        ハガキやチラシ、メールでご案内するクーポンコードをご注文の際に入力いただく事でご利用いただけます。</p>
                    <div class="white_box">
                        <h4 class="h_brown">&lt;ご利用方法&gt;</h4>
                        <p class="mb10">ご注文画面のSTEP2：ご注文内容確認画面の「クーポンを利用する」ボタンをクリックし、お持ちのクーポンコードを入力してください。</p>
                        <p class="mb0"><img src="{{ app.config.front_urlpath }}/img/common/curpon.png" alt="">
                        </p>
                    </div>
                    <div class="white_box">
                        <h4 class="h_brown">&lt;ご利用回数&gt;</h4>
                        <ul class="normal mb0">
                            <li>クーポンコードごとに、お一人さま一回限りのご利用となります。</li>
                        </ul>
                    </div>
                    <div class="white_box">
                        <h4 class="h_brown">&lt;有効期限&gt;</h4>
                        <ul class="normal mb0">
                            <li>クーポンコードのお知らせ時に記載の有効期限までとなります。</li>
                        </ul>
                    </div>
                    <div class="white_box">
                        <h4 class="h_brown">&lt;クーポンがご利用いただけない場合&gt;</h4>
                        <ul class="normal mb0">
                            <li>有効期限を過ぎたクーポンはご利用いただけません。</li>
                        </ul>
                    </div>
                    <div class="white_box">
                        <h4 class="h_brown">&lt;お断り&gt;</h4>
                        <ul class="normal mb0">
                            <li>他のクーポンとの併用はできません。</li>
                            <li>クーポンを現金に換金することはできません。</li>
                        </ul>
                    </div>
           <div id="guide07" class="guideLink">
                <div class="mb50">
<h3 class="h_bdr2">ご利用環境について</h3>
                    <ul class="normal">
<p>以下の環境でのご利用を推奨いたします。 また、JavaScript、Cookieが使用できる状態でご利用ください。</p>
                        <p><li>パソコン<br>Windows7（日本語版）以上 <br>Macintosh OS X（日本語版） 以上 </li>
                        <li>スマートフォン／タブレット<br>iPad/iPhone　iOS9.X.X以降<br>Android端末　Android5.X.X以降 </li>
                        <li>ブラウザ <br>Internet Explorer （最新版）<br>Google Chrome （最新版） <br>Mozilla Firefox （最新版）<br>Microsoft Edge （最新版）<br>Safari （最新版） </li>
※推奨環境下のご利用でも、OSとブラウザの組み合わせ、ブラウザの設定状況によっては表示、 
機能に不具合が起こる可能性がございます。予めご了承くださいますようお願いいたします。</p>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}