{% extends 'default_frame.twig' %}
{% block breadcrumb %}

    <nav>
        <div id="M_topicPathWrap">
            <ul id="M_topicPath1">
                <li><a href="{{ url('top') }}">トップ</a></li>
                <li>ポイントご利用規約</li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="section pointTermsSection">
        <h2 class="h_bdr mb30"><img src="{{ app.config.front_urlpath }}//img/html/policy_h03.png"
                                    alt="Point Terms of Use ポイントご利用規約" class="pcOnly"><img
                    src="{{ app.config.front_urlpath }}//img/html/policy_h03@2x.png"
                    alt="Point Terms of Use ポイントご利用規約" class="spOnly"></h2>
        <div class="pointTermsDetails">
            <p class="mb30">穴吹コミュニティ（以下「当社」といいます）が運営する{{ BaseInfo.ShopName }}（以下「当ショップ」といいます）のポイント利用について、以下の通り本規約を定めます。</p>
            <h3 class="h_bdr2">１.目的</h3>
            <ol class="normal mb30">
                <li>
                    本規約は、当社が当ショップの利用規約に基づき会員登録をした会員（以下「会員」といいます）に対して、当社が提供するポイントサービス(以下「本サービス」といいます)を提供するにあたり、その諸条件を定めるものです。
                </li>
                <li>本サービスに関し本規約に規定のない事項については、当ショップの利用規約が適用されます。</li>
                <li>
                    本サービスに関し本規約とは別に追加の利用条件が設けられている場合には、利用者は当該利用条件を本規約と合わせて順守しなければならないものとします。また、追加の利用条件と本規約に異なる定めがある場合には、追加の利用条件が優先して適用されるものとします。
                </li>
            </ol>
            <h3 class="h_bdr2">２．ポイントの付与</h3>
            <ol class="normal mb30">
                <li>会員が、当社の指定する方法で物品等の購入またはサービスを利用したとき、その他当社が相当と認めた場合に、お買い上げ商品の税抜金額100円につき１ポイントを付与します。</li>
                <li>ポイントの付与の対象となるウェブサイト、サービスおよび取引(以下「対象取引」といいます)、ポイントの付与率、その他ポイント付与の条件は、当社が決定します。
                    ポイントは、対象取引が行われ、商品の発送完了後～翌月末までに、ポイントを付与いたします。<br>
                    この期間内に、当社が対象取引につき取消、返品などがあったことを確認した場合、対象取引にポイントは付与されず、また対象取引に価格の変更があった場合は、変更後の購入額に応じてポイントが付与されます。
                </li>
                <li>ある取引についてポイントを付与するか否か、付与するポイント数、その他ポイントの付与に関する最終的な判断は、当社が行うものとし、会員はこれにしたがうものとします。</li>
                <li>消費税、送料、手数料、一部商品に関しては、ポイント付与の対象外となります。</li>
            </ol>
            <h3 class="h_bdr2">３．ポイントの管理</h3>
            <ol class="normal mb30">
                <li>当社は、当社所定の方法により、会員が獲得したポイント数、会員が使用したポイント数およびポイント数の残高を、会員に告知します。</li>
                <li>会員は、前項のポイント数に疑義のある場合には、ただちに当社に連絡し、その内容を説明するものとします。 ただし、ポイント数に関する最終的な決定は、当社が行うものとし、会員はこれに従うものとします。
                </li>
            </ol>
            <h3 class="h_bdr2">４.ポイントの譲渡禁止等</h3>
            <ol class="normal mb30">
                <li>会員は、保有するポイントを他の会員に譲渡または質入れするなど、会員間でポイントを共有することはできません。</li>
                <li>一人の会員が複数の会員登録をしている場合、会員はそれぞれの会員登録において保有するポイントを合算することはできません。</li>
            </ol>
            <h3 class="h_bdr2">５.ポイントの取消・消滅</h3>
            <ol class="normal mb30">
                <li>当社がポイントを付与した後に、対象取引について返品、キャンセルその他当社がポイントの付与を取り消すことが適当と判断する事由があった場合、
                    当社は、対象取引により付与されたポイントを取り消すことができます。
                </li>
                <li>当社は、会員が以下の何れかの事由に該当すると判断した場合、会員に事前に通知することなく、会員が保有するポイントの一部または全部を取り消すことができます。
                    <ul class="pink_disc">
                        <li>違法または不正行為があった場合</li>
                        <li>本規約、利用規約、その他当社が定める規約・ルール等に違反があった場合</li>
                        <li>その他当社が会員に付与されたポイントを取り消すことが適当と判断した場合</li>
                    </ul>
                </li>
                <li>会員が、当社の定める期間を超えて当該対象取引を行わなかった場合、ポイントは自動的に消滅します。</li>
                <li>当社は、取消または消滅したポイントについて何らの補償も行わず、一切の責任を負いません。</li>
            </ol>
            <h3 class="h_bdr2">６.ポイントの有効期限および失効</h3>
            <ol class="normal mb30">
                <li>ポイントの獲得日から2年間有効です。有効期間内に新規にポイントを獲得すると、保有しているすべてのポイントの有効期限が延長されます。</li>
                <li>2年間ポイントの新規獲得がなかった場合、ポイントは失効いたします。<br>
                    例）最終ポイント獲得日2017年12月28日の場合→ポイント失効日2019年12月28日
                </li>
            </ol>
            <h3 class="h_bdr2">７.ポイントの利用</h3>
            <ol class="normal mb30">
                <li>
                    会員は、当社が定める方法により、保有するポイントを当社が指定するウェブサイトにおける決済代金(商品代金、送料のみ。以下同じ)の全額または一部の支払いに1ポイント＝1円として利用することができます。利用したポイントは、商品購入手続き完了後に減算させていただきます。
                </li>
                <li>当社は、ポイント利用の対象となるサービス・商品等を制限したり、ポイント利用に制限を付したりすることがあります。</li>
                <li>
                    会員が、決済を取り消した場合、原則として当該決済に利用したポイントが返還され、現金による返還は行われません。ただし、当社の事務上の事情などによりポイントでの返還ができない場合には、ポイント利用額相当の現金が返還されることがあります。
                </li>
                <li>ポイント行使した商品の返品時にポイントの期限が切れている場合、ポイントでの返還はできません。</li>
                <li>
                    会員が、決済代金全額の支払いにポイントを利用し、その後決済代金が何らかの事情で減額した場合には、前項に準じてポイントの返還が行われます。会員が、決済代金の一部支払いについてポイントを利用し、その後決済代金が何らかの事情で減額された場合にはポイントの返還が行われます。なお、利用されたポイントが代金の減額分に足りない場合は当該不足額について、前項に準じてポイントまたは現金の返還が行われます。
                </li>
                <li>
                    会員が、決済代金の支払いにポイントを利用した後、何らかの事情により決済代金が増額された場合は、会員は増額分を他の支払い方法にて支払うものとする。ただし、会員が決済代金全額の支払いにポイントを利用していた場合で、保有する全てのポイントを支払いに利用することを選択していた場合は、増額分の支払いにつき当該会員が保有するポイントを優先的に利用するものとし、ポイントの残額が増額分に不足する場合は、不足分を他の支払い方法にて支払うものとします。
                </li>
                <li>
                    会員が、決済代金の支払いにポイントを利用した後に、本サービスに違反していることが判明し、ポイントを取消した場合は、当社は会員にポイントによって充当した代金相当額の支払いを求めることができます。この場合、会員はすみやかに代金相当額を当社に支払うものとします。
                </li>
            </ol>
            <h3 class="h_bdr2">８.ポイント利用後のポイントの取消</h3>
            <p class="mb30">
                会員がポイントを「7.ポイントの利用」による決済に利用した後に、ポイントが取り消された場合は、当該決済の対象となる取引(以下「ポイント利用取引」といいいます)が取消されることがあります。会員は、ポイント利用取引が実行済みである場合または実行しようとする場合には、ポイント取引による不足額を、ただちに現金または当社の指定する支払い方法にて支払うものとします。</p>
            <h3 class="h_bdr2">９.換金の不可</h3>
            <p class="mb30">会員は、いかなる場合でもポイントを換金することはできません。</p>
            <h3 class="h_bdr2">１０.第三者による利用</h3>
            <ol class="normal mb30">
                <li>ポイントの利用は、会員本人が行うものとし、当該会員以外の第三者が行うことはできません。</li>
                <li>当社は、ログイン時に入力されたIDおよびパスワードが登録されたものと一致することを当社が所定の方法により確認した場合には、会員による利用とみなします。
                    それが第三者による不正利用であった場合でも、当社は利用されたポイントを返還しないとともに、会員に生じた損害について一切責任を負いません。
                </li>
            </ol>
            <h3 class="h_bdr2">１１.会員資格の喪失・停止</h3>
            <p class="mb30">
                会員が会員の地位を喪失した場合には、保有するポイント、その他本サービスの利用に関する一切の権利を失うものとし、また地位の喪失にともなって当社に対して、何らの請求権も取得しないものとします。</p>
            <h3 class="h_bdr2">１２.会員の死亡</h3>
            <p class="mb30">
                会員が死亡した場合、相続人は会員が取得していたショッピングポイントを相続により取得することができます。この場合、相続人は、会員本人の死亡証明書と遺産分割協議書等、故人である会員の口座に残っているショッピングポイントの相続権を有することを証明する書類を死亡後6ヵ月以内に提示する必要があります。相続の申し出が期間内になされない場合は、当該会員の積算ショッピングポイントはすべて失効します。</p>
            <h3 class="h_bdr2">１３.免責</h3>
            <p class="mb30">当社は、本サービスの運用にその時点での技術水準を前提に最善を尽くしますが、障害が生じないことを保証するものではありません。
                通信回線やコンピューターなどの障害によるシステムの中断・遅延・中止・データの消失、ポイント利用に関する障害、データへの不正アクセスにより生じた損害、
                その他本サービス関して会員に生じた損害について、当社は一切責任を負わないものとします。</p>
            <h3 class="h_bdr2">１４.会員への連絡</h3>
            <p class="mb30">当社は、会員に対し、電子メール等を利用して、商品・サービスやポイントに関する情報、または緊急あるいは重要なお知らせを送る場合があることを、会員はあらかじめ承諾するものとします。</p>
            <h3 class="h_bdr2">１５.本サービスの変更・停止・終了</h3>
            <ol class="normal mb30">
                <li>当社は、会員に事前に通知することなく、本規約、本サービスの内容または本サービス提供条件の変更(ポイントの廃止、ポイント付与の停止、対象サイトまたは取引の変更、ポイント付与率の変更など)
                    を行うことがあり、本サービスを終了または停止することがあります。会員はあらかじめ承諾するものとします。
                </li>
                <li>当社は、前項の変更により会員に不利益または損害が生じた場合でも、これらについて一切責任を負わないものとします。</li>
            </ol>
            <p style="text-align:right">以上<br>
                制定　2017年11月28日<br>改定　2019年1月15日</p>
            <!-- ポイントご利用規約 -->
        </div>
    </div>
{% endblock %}