{% if Banners | length %}
    <!-- 特集 -->
    <div class="section campaignSection">
        <h2 class="h_bdr mb20">
            <img src="{{ app.config.front_urlpath }}/img/common/top_h03.png" alt="Feature 特集" class="pcOnly">
            <img src="{{ app.config.front_urlpath }}/img/common/sp/top_h03@2x.png" alt="Feature 特集"
                 class="spOnly">
        </h2>
        <ul class="campaignBnr">
            {% for Banner in Banners %}
                <li><a {% if Banner.LinkMethod %}target="_blank" {% endif %} href="{{ Banner.Link }}"><img
                                src="{{ generate_banner_path(Banner.ImagePath) }}" alt="{{ Banner.Name }}"></a></li>
            {% endfor %}
        </ul>
    </div>
    <!-- 特集 -->
{% endif %}