{% if Banners | length %}
    {#商品リストの場合はおすすめカテゴリーしか表示させない#}
    {% if (app.request.attributes.get('_route') != 'product_list') or (app.request.attributes.get('_route') == 'product_list' and app.request.get('category_id') in [375,189,3]) %}
        <!-- 特集 -->
        <div class="section featureSection">
            <h2 class="h_bdr mb20">
                <img src="{{ app.config.front_urlpath }}/img/common/top_h04.png" alt="Feature 特集" class="pcOnly">
                <img src="{{ app.config.front_urlpath }}/img/common/sp/top_h04@2x.png" alt="Feature 特集"
                     class="spOnly">
            </h2>
            <ul class="camp_bnr">
                {% for Banner in Banners %}
                    <li><a {% if Banner.LinkMethod %}target="_blank" {% endif %} href="{{ Banner.Link }}"><img
                                    src="{{ generate_banner_path(Banner.ImagePath) }}" alt="{{ Banner.Name }}"></a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- 特集 -->
    {% endif %}
{% endif %}