<!-- Sp Ranking -->
<section class="indexSection indexRanking spOnly">
    <h2 class="h_bdr mb15"><img src="{{ app.config.front_urlpath }}/img/common/side_h02.png" alt="Ranking"
                                class="pcOnly"><img src="{{ app.config.front_urlpath }}/img/common/sp/side_h02@2x.png"
                                                    alt="Ranking" class="spOnly"></h2>
    <ul class="rankingList">
        <li><a href="#">
                <div class="itemImg"><p class="rank"><img src="{{ app.config.front_urlpath }}/img/common/rank1.jpg"
                                                          alt="No.01"></p> <img
                            src="https://shop12-makeshop.akamaized.net/shopimages/cmty/0000000006443.jpg"
                            alt="藁焼き鰹たたき二節セット"></div>
                <p class="rankingName">藁焼き鰹たたき二節セット</p>
            </a></li>
        <li><a href="#">
                <div class="itemImg"><p class="rank"><img src="{{ app.config.front_urlpath }}/img/common/rank2.jpg"
                                                          alt="No.02"></p> <img
                            src="https://shop12-makeshop.akamaized.net/shopimages/cmty/0000000012093.jpg"
                            alt="揖保乃糸　手延ひやむぎ　１６把"></div>
                <p class="rankingName">揖保乃糸　手延ひやむぎ　１６把</p>
            </a></li>
        <li><a href="#">
                <div class="itemImg"><p class="rank"><img src="{{ app.config.front_urlpath }}/img/common/rank3.jpg"
                                                          alt="No.03"></p> <img
                            src="https://shop12-makeshop.akamaized.net/shopimages/cmty/0000000011793.jpg"
                            alt="バスキャンドル（３個セット）／お風呂用キャンドル"></div>
                <p class="rankingName">バスキャンドル（３個セット）／お風呂用キャンドル</p>
            </a></li>
        <li><a href="#">
                <div class="itemImg"><p class="rank"><img src="{{ app.config.front_urlpath }}/img/common/rank4.jpg"
                                                          alt="No.04"></p> <img
                            src="https://shop12-makeshop.akamaized.net/shopimages/cmty/0000000012083.jpg"
                            alt="揖保乃糸　特級品【黒帯】（大ひね熟成３年）贈答…"></div>
                <p class="rankingName">揖保乃糸　特級品【黒帯】（大ひね熟成３年）贈答…</p>
            </a></li>
        <li><a href="#">
                <div class="itemImg"><p class="rank"><img src="{{ app.config.front_urlpath }}/img/common/rank5.jpg"
                                                          alt="No.05"></p> <img
                            src="https://shop12-makeshop.akamaized.net/shopimages/cmty/0000000012023.jpg"
                            alt="お試しセット（エネロクリーン＋キッチンエネロ）"></div>
                <p class="rankingName">お試しセット（エネロクリーン＋キッチンエネロ）</p>
            </a></li>
    </ul>
</section>
<!-- //Sp Ranking -->

<!-- Sp Category -->
<section class="indexSection indexCatlist spOnly">
    <h2 class="h_bdr mb15"><img src="{{ app.config.front_urlpath }}/img/common/sp/side_h01@2x.png" alt="Shop List">
    </h2>
    <ul class="catMenu" id="category_listSp2">
        <li class="l_nav02"><a href="/page/shoplist/repair">住まいのお手入れ</a></li>
        <li class="l_nav03"><a href="/page/shoplist/reform">リフォーム</a></li>
        <li class="l_nav04"><a href="/page/shoplist/rice">お米</a></li>
        <li class="l_nav05"><a href="/page/shoplist/foodanddrink">食品・ドリンク</a></li>
        <li class="l_nav06"><a href="/page/shoplist/sweets">スイーツ</a></li>
        <li class="l_nav07"><a href="/page/shoplist/interior">インテリア・雑貨</a></li>
        <li class="l_nav08"><a href="/page/shoplist/emergency">防災用品</a></li>
        <li class="l_nav09"><a href="/page/shoplist/care">介護・福祉</a></li>
    </ul>
</section>
<!-- //Sp Category -->
