<!-- Sp Form -->
<div class="searchArea spOnly">
    <form method="get" action="{{ path('product_list') }}">
        <input type="search" class="brand_search_form" name="name" maxlength="50" placeholder="キーワードを入力" autocapitalize="off" value="{{ app.request.get('name') }}">
        <input type="submit" class="brand_search_button" value="検索">
    </form>
</div>
<!-- //Sp Form -->
