{#
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
#}
{% extends 'default_frame.twig' %}

{% set menus = ['content', 'block'] %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}ブロック管理{% endblock %}

{% block main %}
<form name="content_block_form" id="content_block_form" method="post" action="">
    <div id="block_wrap" class="container-fluid">
        <div id="block_list" class="row">
            <div id="block_list_box" class="col-md-12">
                <div id="block_list_box__body" class="box">
                    <div id="block_list_box__header" class="box-header">
                        <div class="box-title">
                            ブロック一覧
                        </div>
                    </div>
                    <div id="sortable_list" class="box-body no-padding no-border">
                        <div id="sortable_list_box" class="sortable_list">
                            <div id="sortable_list__list"class="tableish">
                                {% for Block in Blocks %}
                                    <div id="sortable_list__item--{{ Block.id }}" class="item_box tr">
                                        <div id="sortable_list__name--{{ Block.id }}" class="item_pattern td">
                                            {{ Block.Shop ? '' : '<span class="text-danger">【共通ブロック】</span>'|raw }}{{ Block.name }}
                                        </div>
                                        <div id="sortable_list__menu_box--{{ Block.id }}" class="icon_edit td">
                                            <div id="sortable_list__menu_box_toggle--{{ Block.id }}" class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                                <ul id="sortable_list__menu--{{ Block.id }}" class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="{{ url('admin_content_block_edit', {id: Block.id}) }}">編集</a>
                                                    </li>
                                                    <li>
                                                        {% if Block.deletable_flg == 1 %}
                                                            <a href="{{ url('admin_content_block_delete', { 'id': Block.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="このブロックを削除してもよろしいですか？">削除</a>
                                                        {% else %}
                                                            <a>削除</a>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- /.item_box -->
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->

            <div id="block_list__footer" class="row btn_area2">
                <div id="block_list__insert_button" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
                    <a class="btn btn-primary btn-block btn-lg" href="{{ url('admin_content_block_new')}}">新規入力</a>
                </div>
            </div>

        </div>
    </div>
</form>
{% endblock %}
