{% extends 'default_frame.twig' %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}
<div id="contents" class="main_only">
    <div class="container-fluid inner no-padding">
        <div id="main">
            <h1 class="page-heading">お問い合わせ</h1>

            <div id="top_wrap" class="container-fluid">
                <div id="top_box" class="row">
                    <div id="top_box__body" class="col-md-10 col-md-offset-1">
                        <p>内容によってはご連絡を差し上げるのにお時間をいただくこともございます。<br/>
                            また、休業日は翌営業日以降の対応となりますのでご了承くださいませ。</p>

                        <form name="form1" id="form1" method="post" action="{{ url('contact') }}" class="h-adr">
                            <span class="p-country-name" style="display:none;">Japan</span>
                            {{ form_widget(form._token) }}
                            <div id="top_box__body_inner" class="dl_table">
                                <dl id="top_box__name">
                                    <dt>{{ form_label(form.name) }}</dt>
                                    <dd class="form-group input_name">
                                        {{ form_widget(form.name.name01) }}
                                        {{ form_widget(form.name.name02) }}
                                        {{ form_errors(form.name.name01) }}
                                        {{ form_errors(form.name.name02) }}
                                    </dd>
                                </dl>
                                <dl id="top_box__kana">
                                    <dt>{{ form_label(form.kana) }}</dt>
                                    <dd class="form-group input_name">
                                        {{ form_widget(form.kana.kana01) }}
                                        {{ form_widget(form.kana.kana02) }}
                                        {{ form_errors(form.kana.kana01) }}
                                        {{ form_errors(form.kana.kana02) }}
                                    </dd>
                                </dl>
                                <dl id="top_box__address_detail">
                                    <dt>{{ form_label(form.address) }}</dt>
                                    <dd>
                                        <div id="top_box__zip" class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                                        <div id="top_box__address" class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                            {{ form_widget(form.address) }}
                                            {{ form_errors(form.address) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl id="top_box__tel">
                                    <dt>{{ form_label(form.tel) }}</dt>
                                    <dd>
                                        <div class="form-inline form-group input_tel">
                                            {{ form_widget(form.tel, {attr : {class : 'short'}}) }}
                                            {{ form_errors(form.tel) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl id="top_box__email">
                                    <dt>{{ form_label(form.email) }}</dt>
                                    <dd>
                                        <div class="form-group">
                                            {{ form_widget(form.email) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl id="top_box__contents">
                                    <dt>{{ form_label(form.contents) }}</dt>
                                    <dd>
                                        <div class="column">
                                            {{ form_widget(form.contents) }}
                                            {{ form_errors(form.contents) }}
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <input id="top_box__hidden_mode" type="hidden" name="mode" value="confirm">
                            {% for f in form %}
                                {% if f.vars.name matches '[^plg*]' %}
                                    <div class="extra-form dl_table">
                                        {{ form_row(f) }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div id="top_box__footer" class="row no-padding">
                                <div id="top_box__confirm_button" class="btn_group col-sm-offset-4 col-sm-4">
                                    <p><button type="submit" class="btn btn-primary btn-block">入力内容を確認する</button></p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>

        </div>
    </div>
</div>

{% endblock %}