{% set favorite = BaseInfo.option_favorite_product %}
<nav id="navi_list_box" class="local_nav {% if favorite == 1 %}favorite{% endif %}">
    <ul id="navi_list">
        <li class="{% if mypageno|default('') == 'index' %}active{% endif %}"><a href="{{ url('mypage') }}">ご注文履歴</a></li>
        <li class="{% if mypageno|default('') == 'point_transaction' %}active{% endif %}"><a href="{{ url('mypage_point_transaction') }}">ポイント履歴</a></li>
        {% if favorite == 1 %}
        <li class="{% if mypageno|default('') == 'favorite' %}active{% endif %}"><a href="{{ url('mypage_favorite') }}">お気に入りリスト</a></li>
        {% endif %}
        <li class="{% if mypageno|default('') == 'product_view_history' %}active{% endif %}"><a href="{{ url('mypage_product_view_history') }}">最近チェックした商品</a></li>
        <li class="{% if mypageno|default('') == 'change' %}active{% endif %}"><a href="{{ url('mypage_change') }}">会員情報</a></li>
        <li class="{% if mypageno|default('') == 'delivery' %}active{% endif %}"><a href="{{ url('mypage_delivery') }}">お届け先編集</a></li>
        {#<li class="{% if mypageno|default('') == 'withdraw' %}active{% endif %}"><a href="{{ url('mypage_withdraw') }}">退会手続き</a></li>#}
    </ul>
</nav>
<div id="welcome_message" class="message">
    <p>
        ようこそ ／ {{ app.user.name01 }} {{ app.user.name02 }} 様 <br>
        利用可能ポイント：<span>{{ app.user.point | number_format }}</span>pt<br>
        獲得予定ポイント：{{ app.user.temporary_point | number_format }}pt
    </p>
</div>