{% extends 'default_frame.twig' %}

{% set mypageno = 'point_transaction' %}

{% set body_class = 'mypage' %}
{% block stylesheet %}
    <style>
        tr:nth-child(1):before, tr:nth-child(1):after {
            content: none !important;
        }

        .text-nowrap {
            white-space: nowrap;
        }

        .valignM {
            vertical-align: middle !important;
        }

        .text-right {
            text-align: right !important;
        }

        .text-center {
            text-align: center !important;
        }
        .text-left{
            text-align: left !important;
        }

    </style>
{% endblock %}

{% block main %}
    <h1 class="page-heading">マイページ/ポイント履歴</h1>
    <div id="history_wrap" class="container-fluid">

        {% include 'Mypage/navi.twig' %}

        <div id="" class="row">
            <div class="col-md-12 pointTableWrap">
                <table class="table table-bordered" width="100%">
                    <tr>
                        <th class="text-nowrap " width="190">利用日<br>獲得日</th>
                        <th class="valignM text-nowrap">内容</th>
                        <th class="valignM text-nowrap" width="10">注文番号</th>
                        <th class="valignM text-nowrap" width="190">確定日</th>
                        <th class="valignM text-nowrap" colspan="2">ポイント利用・獲得</th>
                    </tr>
                    {% for PointTransaction in PointTransactions %}
                        <tr>
                            <td>{{ PointTransaction.createDate |date("Y/m/d H:i:s") }}</td>
                            <td class="text-left">
                                {{ PointTransaction.description }}
                            </td>
                            <td class="text-center text-nowrap">
                                {% if(PointTransaction.orderId) %}
                                    <a target="_blank"
                                       href="{{ url('mypage_history', {'id': PointTransaction.orderId}) }}">
                                        {{ PointTransaction.orderId }}
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if PointTransaction.commitDate and PointTransaction.status %}
                                    {{ PointTransaction.commitDate |date("Y/m/d H:i:s") }}
                                {% else %}
                                    <strong class="text-danger">未確定</strong>
                                {% endif %}

                            </td>
                            <td class="text-nowrap text-center" width="10">
                                {% if(PointTransaction.type == 1) %}
                                    <strong class="text-success">取得</strong>
                                {% else %}
                                    <strong class="text-danger">利用</strong>
                                {% endif %}
                            </td>
                            <td class="text-nowrap text-right">
                                {% if(PointTransaction.type == 1) %}
                                    <strong class="text-success">+{{ PointTransaction.point }}pt</strong>
                                {% else %}
                                    <strong class="text-danger">-{{ PointTransaction.point }}pt</strong>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div>
{% endblock %}
