{% extends 'default_frame.twig' %}

{% set menus = ['customer', 'customer_edit'] %}

{% block title %}会員管理{% endblock %}
{% block sub_title %}会員登録・編集{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{#
{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}
#}

{% block main %}
    <div class="row" id="aside_wrap">
        <form name="customer_form" role="form" id="customer_form" method="post"
              action="{%- if Customer.id %}{{ url('admin_customer_edit', { id : Customer.id }) }}{% else %}{{ url('admin_customer_new') }}{% endif -%}"
              class="h-adr">
            {{ form_widget(form._token) }}
            <div id="detail_wrap" class="col-md-9">
                <div id="detail_box" class="box accordion">
                    <div id="detail_box__header" class="box-header toggle active">
                        <h3 class="box-title">会員情報
                            <svg class="cb cb-angle-down icon_down">
                                <use xlink:href="#cb-angle-down"/>
                            </svg>
                        </h3>
                    </div><!-- /.box-header -->
                    <div id="detail_box__body" class="box-body accpanel" style="display: block;">
                        <div class="form-horizontal">
                            {# 会員ID #}
                            {% if Customer.id %}
                                <div id="detail_box__id" class="form-group">
                                    <label class="col-sm-3 col-lg-2 control-label">会員ID</label>
                                    <div class="col-sm-9 col-lg-10">
                                        <div class="form-control-static">
                                            {{ Customer.id }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {# 会員ID #}
                            {% if Customer.id %}
                                <div id="detail_box__id" class="form-group">
                                    <label class="col-sm-3 col-lg-2 control-label">ユーザID</label>
                                    <div class="col-sm-9 col-lg-10">
                                        <div class="form-control-static">
                                            {{ Customer.customer_no }}
                                        </div>

                                    </div>
                                </div>
                            {% endif %}
                            {# 会員ID #}
                            {% if Customer.id %}
                                <div id="detail_box__id" class="form-group">
                                    <label class="col-sm-3 col-lg-2 control-label">対象ショップ</label>
                                    <div class="col-sm-9 col-lg-10">
                                        <div class="form-control-static">
                                            {{ Customer.Shop.ShopName }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {# 名前 #}
                            <div id="detail_box__name" class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">お名前</label>
                                <div class="col-sm-9 col-lg-10 input_name form-inline">
                                    <div class="form-control-static">
                                        {{ Customer.name01 }} {{ Customer.name02 }}
                                    </div>
                                </div>
                            </div>
                            {# 名前(かな) #}
                            <div id="detail_box__kana" class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">お名前(かな)</label>
                                <div class="col-sm-9 col-lg-10 input_name form-inline">
                                    <div class="form-control-static">
                                        {{ Customer.kana01 }} {{ Customer.kana02 }}
                                    </div>

                                </div>
                            </div>
                            {# 住所：郵便番号 #}
                            <div id="detail_box__address" class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">住所</label>
                                <div id="detail_box__zip" class="col-sm-9 col-lg-10 input_zip form-inline">
                                    <div class="form-control-static">
                                        〒{{ Customer.zip01 }}-{{ Customer.zip02 }}<br>
                                        {{ Customer.pref }}<br>
                                        {{ Customer.addr01 }}<br>
                                        {{ Customer.addr02 }}
                                    </div>
                                </div>
                            </div>
                            {# メールアドレス #}
                            <div id="detail_box__email" class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">メールアドレス</label>
                                <div class="col-sm-9 col-lg-10">
                                    <div class="form-control-static">
                                        {{ Customer.email }}
                                    </div>
                                </div>
                            </div>
                            {# 電話番号 #}
                            <div id="detail_box__tel" class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">電話番号</label>
                                <div class="col-sm-9 col-lg-10 input_tel form-inline">
                                    <div class="form-control-static">
                                        {{ Customer.tel01 }}-{{ Customer.tel02 }}-{{ Customer.tel03 }}
                                    </div>
                                </div>

                            </div>

                            <div class="extra-form">
                                {% for f in form.getIterator %}
                                    {% if f.vars.name matches '[^plg*]' %}
                                        {{ form_row(f) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                {% if Customer.id %}
                    <div id="history_box" class="box">
                        <div id="history_box__toggle" class="box-header toggle">
                            <h3 class="box-title">購入履歴</h3>
                        </div><!-- /.box-header -->
                        <div id="history_box__body" class="box-body accpanel">
                            {% if Customer.Orders|length > 0 %}
                                <div id="history_box__list" class="table_list">
                                    <div class="table-responsive with-border">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr id="history_box__list_header">
                                                <th id="history_box__header_order_date">注文日時</th>
                                                <th id="history_box__header_order_id">受注番号</th>
                                                <th id="history_box__header_order_total">購入金額</th>
                                                <th id="history_box__header_commit_date">発送日</th>
                                                <th id="history_box__header_payment_method">支払方法</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for Order in Customer.Orders %}
                                                <tr id="history_box__item--{{ Order.id }}">
                                                    <td id="history_box__order_date--{{ Order.id }}" class="member_id">
                                                        {{ Order.order_date|date_format }}
                                                    </td>
                                                    <td id="history_box__order_id--{{ Order.id }}" class="member_name">
                                                        <a href="{{ url('admin_order_edit', { 'id' : Order.id }) }}">{{ Order.id }}</a>
                                                    </td>
                                                    <td id="history_box__order_total--{{ Order.id }}"
                                                        class="member_tel">
                                                        {{ Order.total|price }}
                                                    </td>
                                                    <td id="history_box__commit_date--{{ Order.id }}"
                                                        class="member_mail">
                                                        {{ Order.commit_date|date_format|default('未発送') }}
                                                    </td>
                                                    <td id="history_box__payment_method--{{ Order.id }}"
                                                        class="member_mail">
                                                        {{ Order.payment_method }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% else %}
                                <div id="history_box__header" class="data-empty">
                                    <svg class="cb cb-inbox">
                                        <use xlink:href="#cb-inbox"/>
                                    </svg>
                                    <p>データはありません</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div id="point_box" class="box">
                        <div id="point_box__toggle" class="box-header">
                            <h3 class="box-title">ポイント情報</h3>
                        </div>
                        <div class="box-body accpanel">
                            <div class="form-horizontal">
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label required">保有ポイント</label>
                                    <div class="col-sm-9 col-lg-10">
                                        <div class="form-control-static"><strong>{{ Customer.Point| number_format }}
                                                pt</strong></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label required">変更ポイント</label>
                                    <div class="col-sm-9 col-lg-10">
                                        <input type="text" name="point_amount"
                                               value="{{ app.request.get('point_amount') }}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label required">変更タイプ</label>
                                    <div class="col-sm-9 col-lg-10">
                                        <select name="point_type" class="form-control">
                                            <option value="1"
                                                    {% if app.request.get('point_type') == 1 %}selected{% endif %}>加算
                                            </option>
                                            <option value="2"
                                                    {% if app.request.get('point_type') == 2 %}selected{% endif %}>減算
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label required">変更理由</label>
                                    <div class="col-sm-9 col-lg-10">
                                        <textarea name="point_description"
                                                  class="form-control">{{ app.request.get('point_description') }}</textarea>
                                    </div>
                                </div>
                                <div class="form-group hidden">
                                    <label class="col-sm-2 control-label required"></label>
                                    <div class="col-sm-9 col-lg-10">
                                        <label for="extend_flg">
                                            <input type="checkbox" name="extend_flg" id="extend_flg" value="1" checked {{ app.request.get('extend_flg') ? "checked": "" }}>
                                            有効期限延長する
                                        </label>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label required"></label>
                                    <div class="col-sm-9 col-lg-10">
                                        <button name="updatePoint" value="1" class="btn-default btn">変更</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div id="point_box" class="box">
                        <div id="point_box__toggle" class="box-header">
                            <h3 class="box-title">ポイント履歴</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body accpanel">
                            {% if Customer.PointTransactions|length > 0 %}
                                <div class="table_list">
                                    <div class="table-responsive with-border">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="text-nowrap" width="160">利用日<br>獲得日</th>
                                                <th class="valignM">内容</th>
                                                <th class="valignM text-nowrap" width="10">注文番号</th>
                                                <th class="valignM" width="160">確定日</th>
                                                <th class="text-nowrap" width="10" colspan="2">ポイント利用・獲得</th>
                                                <th class="text-nowrap" width="10" colspan="2">延長フラグ</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for PointTransaction in Customer.PointTransactions %}
                                                <tr>
                                                    <td>{{ PointTransaction.createDate |date("Y/m/d H:i:s") }}</td>
                                                    <td>
                                                        {{ PointTransaction.description }}
                                                    </td>
                                                    <td class="text-center text-nowrap">
                                                        {% if(PointTransaction.orderId) %}
                                                            <a target="_blank"
                                                               href="{{ url('admin_order_edit', {'id': PointTransaction.orderId}) }}">
                                                                {{ PointTransaction.orderId }}
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if PointTransaction.commitDate and PointTransaction.status %}
                                                            {{ PointTransaction.commitDate |date("Y/m/d H:i:s") }}
                                                        {% else %}
                                                            <strong class="text-danger">未確定</strong>
                                                        {% endif %}

                                                    </td>
                                                    <td class="text-nowrap text-center" width="10">
                                                        {% if(PointTransaction.type == 1) %}
                                                            <strong class="text-success">取得</strong>
                                                        {% else %}
                                                            <strong class="text-danger">利用</strong>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap text-right" width="10">
                                                        {% if(PointTransaction.type == 1) %}
                                                            <strong class="text-success">+{{ PointTransaction.point }}</strong>
                                                        {% else %}
                                                            <strong class="text-danger">-{{ PointTransaction.point }}</strong>
                                                        {% endif %}

                                                    </td>
                                                    <td class="text-nowrap text-center">
                                                        {{ PointTransaction.extendFlg ? "○" :"×" }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% else %}
                                <div id="history_box__header" class="data-empty">
                                    <svg class="cb cb-inbox">
                                        <use xlink:href="#cb-inbox"/>
                                    </svg>
                                    <p>データはありません</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>


                {% endif %}

                <div id="detail_box__footer" class="row hidden-xs hidden-sm">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                        <p>
                            <a href="{{ url('admin_customer_page', { page_no : app.session.get('eccube.admin.customer.search.page_no')|default('1') } ) }}?resume=1">検索画面に戻る</a>
                        </p>
                    </div>
                </div>

            </div><!-- /.col -->


            <div id="aside_column" class="col-md-3">
                <div id="common_box" class="col_inner">
                    <div id="button_box" class="box no-header">
                        <div id="button_box__body" class="box-body">
                            <div id="button_box__insert_button" class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" type="submit">会員情報を登録</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                    <div id="shop_note_box" class="box">
                        <div id="shop_note_box__header" class="box-header">
                            <h3 class="box-title">ショップ用メモ欄</h3>
                        </div><!-- /.box-header -->
                        <div id="shop_note_box__note" class="box-body">
                            {{ form_widget(form.note) }}
                            {{ form_errors(form.note) }}
                        </div>
                    </div><!-- /.box -->

                </div>
            </div><!-- /.col -->
        </form>
    </div>
{% endblock %}
