<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>決済ページへ移動しています</title>
    <script type="text/javascript">//<![CDATA[
        window.onload = function () {
            document.form.submit();
        };
        //]]></script>
</head>
<body>
<p>決済ページへ移動しています</p>
<form name="form" method="POST" action="{{ aeonregi.action }}">
    {% for key,value in aeonregi.param %}
        <input type="hidden" value="{{ value }}" name="{{ key }}">
    {% endfor %}
</form>
</body>
</html>