{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block breadcrumb %}

    <nav>
        <div id="M_topicPathWrap">
            <ul id="M_topicPath1">
                <li><a href="{{ url('top') }}">トップ</a></li>
                <li>ファインパスポート会員限定</li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block main %}

    <!-- ファインパスポート会員限定 -->
    <div class="section finepassport loginPage">
        <h2>パスワードを入力してください。</h2>
        <div class="loginBtn">
            <form action="?" method="POST">
                <input class="text" type="password" name="password" value=""/>
                <input type="submit" value="確認" class="submit">
            </form>
            {% if error %}
                <br>
                <p class="red">
                    ログインできませんでした。<br>
                    入力内容に誤りがないかご確認ください。
                </p>
            {% endif %}
        </div>
        <div class="finepassportLogin">
            <h3>こちらはファインパスポート会員専用の商品でございます。</h3>
            <table>
                <tr>
                    <td><p><img alt="" src="https://www.384shop.com/data/imgupload/fine0721_2.png"></p></td>
                    <td><p> 既に会員登録を済まされた方は、 <br>
                            ご登録後の自動返信メールに、パスワードをお送りしております。 <br>
                            パスワードをご入力いただき、お得にショッピングをお楽しみください。 </p></td>
                </tr>
                <tr>
                    <td><img alt="" src="https://www.384shop.com/data/imgupload/fine0721_3.png"></td>
                    <td> ご登録がまだの方は、 <br>
                        下記よりファインパスポートについてご確認いただき、ご登録ください。 <br>
                        ≫<u><a href="https://www.384.jp/genform.php?FORM_ID=a025vgef6z">ファインパスポートご登録はこちらから</a></u></td>
                </tr>
            </table>
            <div class="contactBox">
                <p class="contactTop"><span>ご不明点はこちらからお問い合わせください。</span></p>
                <div class="telBox">
                    <p class="name">穴吹コンタクトセンター</p>
                    <p class="tel">0120-365-384<span>（24時間365日受付）</span></p>
                    <p class="notes">※お問い合わせの際は、以下の情報を係員へお伝えくださいますようあわせてお願い申し上げます。 <br/>
                        ●お住まいのマンション名<br/>
                        ●お部屋番号<br/>
                        ●お名前 </p>
                </div>
            </div>
        </div>
        <div class="finepassportAbout">
            <h3>ファインパスポートとは</h3>
            <p>サーパスマンションに暮らすみなさまに、いつまでも快適に暮らしていただくために。<br/>
                大人世代の健康と暮らしをサポートする取り組みをスタートいたします。 </p>
            <p>ご入居者の皆様が、ご自身とご家族のいまの年齢を大切に、これからの歳月を有意義なものにしていただくため、ファインパスポートは、役立つ情報と便利でお得な商品でみなさまの健康と暮らしをサポートいたします。</p>
            <p><a href="https://www.384.jp/member/pc/fine/" target="_blank">●ファインパスポート詳細はこちらから</a></p>
        </div>
        <div class="finepassportRegistration">
            <h3>ファインパスポートにご登録ください</h3>
            <p class="txt1">ご登録会員様限定のお得で便利なサービス。</p>
            <p>・会員専用のキャンペーンを開催！プレゼントが抽選であたる。<br/>
                ・介護のお悩みなどを専門家に相談できる窓口の設置<br/>
                ・大人世代の健康維持、親の介護等に関する情報のご提供<br/>
                ・ファインパスポートセレクト商品をおトクにご提供</p>
            <p>≫<a href="https://www.384.jp/member/pc/fine/" target="_blank">ファインパスポートご登録はこちらから</a></p>
        </div>
    </div>
    <!-- //ファインパスポート会員限定 -->




{% endblock %}
