<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ BaseInfo.shop_name }}{% if subtitle is defined and subtitle is not empty %} / {{ subtitle }}{% elseif title is defined and title is not empty %} / {{ title }}{% endif %}</title>
    {% if PageLayout.author is not empty %}
        <meta name="author" content="{{ PageLayout.author }}">
    {% endif %}
    {% if PageLayout.description is not empty %}
        <meta name="description" content="{{ PageLayout.description }}">
    {% endif %}
    {% if PageLayout.keyword is not empty %}
        <meta name="keywords" content="{{ PageLayout.keyword }}">
    {% endif %}
    {% if PageLayout.meta_robots is not empty %}
        <meta name="robots" content="{{ PageLayout.meta_robots }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if PageLayout.meta_tags is not empty %}
        {{ PageLayout.meta_tags|raw }}
    {% endif %}
    {% block meta_tags %}{% endblock %}
    <link rel="icon" href="{{ app.config.front_urlpath }}/img/common/favicon{{ BaseInfo.Id }}.ico">
    <link href="{{ app.config.front_urlpath }}/css/style.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"
          rel="stylesheet">
    <link href="{{ app.config.front_urlpath }}/css/common.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"
          rel="stylesheet">
    <link href="{{ app.config.front_urlpath }}/css/other.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"
          rel="stylesheet">
    <link href="{{ app.config.front_urlpath }}/css/jquery.bxslider.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"
          rel="stylesheet">
    <link href="{{ app.config.front_urlpath }}/css/lightbox.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"
          rel="stylesheet">
    <!-- for original theme CSS -->
    {% block stylesheet %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ app.config.front_urlpath }}/js/jquery-3.3.1.min.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"><\/script>')</script>
    <script src="{{ app.config.front_urlpath }}/js/jquery.bxslider.js"></script>
    <script src="{{ app.config.front_urlpath }}/js/scrolltopcontroll.js?{{ date().timestamp }}"></script>
    <script src="{{ app.config.front_urlpath }}/js/common.js"></script>
    <script src="{{ app.config.front_urlpath }}/js/lightbox.js"></script>
    <script>
        $(document).ready(function () {
            $('#M_slider .M_sliderFirstImage').remove();
            $('#M_slider').slick({
                autoplay:true,
                speed: 1500,
                autoplaySpeed: 4000,
                dots: true,
                arrows:false,
            });
            $.ajax({
                url: '/template/default/img/common/svg.html',
                type: 'GET',
                dataType: 'html',
            }).done(function (data) {
                $('body').prepend(data);
            }).fail(function (data) {
            });
        });
    </script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/1956885.js"></script>
    <!-- End of HubSpot Embed Code -->
    {% if BaseInfo.Id == 1 %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64254252-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-64254252-1');
        </script>
    {% endif %}
    {% if BaseInfo.Id == 2 %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8620123-12"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-8620123-12');
        </script>
    {% endif %}
    {% if BaseInfo.Id == 3 %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97490057-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-97490057-1');
        </script>
    {% endif %}
    {# ▼Head COLUMN #}
    {% if PageLayout.Head %}
        {# ▼上ナビ #}
        {{ include('block.twig', {'Blocks': PageLayout.Head}) }}
        {# ▲上ナビ #}
    {% endif %}
    {# ▲Head COLUMN #}
</head>
<body id="page_{{ app.request.get('_route') }}" class="{{ body_class|default('other_page') }}">
<!-- Header -->
<header>
    {% if PageLayout.Header %}
        {# ▼上ナビ #}
        {{ include('block.twig', {'Blocks': PageLayout.Header}) }}
        {# ▲上ナビ #}
    {% endif %}
</header>

{# ▼TOP COLUMN #}
{% if PageLayout.ContentsTop %}
    {# ▼上ナビ #}
    {{ include('block.twig', {'Blocks': PageLayout.ContentsTop}) }}
    {# ▲上ナビ #}
{% endif %}
{# ▲TOP COLUMN #}

<!-- //Header -->
<div id="makebanner" class="cf">
    {# ▼LEFT COLUMN #}
    {% if PageLayout.SideLeft %}
        <div class="rightColumn">
            <nav>
                <div id="l_nav">
                    {# ▼左ナビ #}
                    {{ include('block.twig', {'Blocks': PageLayout.SideLeft}) }}
                    {# ▲左ナビ #}
                </div>
            </nav>
        </div>
    {% endif %}
    {# ▲LEFT COLUMN #}
    {% if PageLayout.SideLeft %}
    <div class="leftColumn">
        {% block breadcrumb %}{% endblock %}
        <section>
            <div id="r_content">
                {% else %}
                <div id="main">
                    <div id="main_middle">
                        {% endif %}
                        {# ▼メイン上部 #}
                        {% if PageLayout.MainTop %}
                            <div id="main_top">
                                {{ include('block.twig', {'Blocks': PageLayout.MainTop}) }}
                            </div>
                        {% endif %}
                        {# ▲メイン上部 #}
                        {% block main %}{% endblock %}
                        {# ▼RIGHT COLUMN #}
                        {% if PageLayout.SideRight %}
                            {# ▼右ナビ #}
                            {{ include('block.twig', {'Blocks': PageLayout.SideRight}) }}
                            {# ▲右ナビ #}
                        {% endif %}
                        {# ▲RIGHT COLUMN #}
                        {# ▼メイン下部 #}
                        {% if PageLayout.MainBottom %}
                            {{ include('block.twig', {'Blocks': PageLayout.MainBottom}) }}
                        {% endif %}
                        {# ▲メイン下部 #}
                        {% if not PageLayout.SideLeft %}
                    </div>
                </div>
                {% else %}
            </div>
        </section>
    </div>

    {% endif %}

</div>
{# ▼BOTTOM COLUMN #}
{% if PageLayout.ContentsBottom %}
    {# ▼下ナビ #}
    {{ include('block.twig', {'Blocks': PageLayout.ContentsBottom}) }}
    {# ▲下ナビ #}
{% endif %}
{# ▲BOTTOM COLUMN #}

{# ▼Footer COLUMN#}
{% if PageLayout.Footer %}
    {# ▼上ナビ #}
    {{ include('block.twig', {'Blocks': PageLayout.Footer}) }}
    {# ▲上ナビ #}
{% endif %}
{# ▲Footer COLUMN#}

<script src="{{ app.config.front_urlpath }}/js/vendor/bootstrap.custom.min.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script src="{{ app.config.front_urlpath }}/js/vendor/slick.min.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script src="{{ app.config.front_urlpath }}/js/function.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script src="{{ app.config.front_urlpath }}/js/eccube.js?v={{ date().timestamp }}"></script>
{% block javascript %}{% endblock %}
</body>
</html>
