{% extends 'default_frame.twig' %}
{% block breadcrumb %}

    <nav>
        <div id="M_topicPathWrap">
            <ul id="M_topicPath1">
                <li><a href="{{ url('top') }}">トップ</a></li>
                <li>NEWS</li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="section newsInner">
        <h2 class="h_bdr mb15">
            <img src="{{ app.config.front_urlpath }}/img/news/news_indx_h01.png" alt="NEWS ニュース" class="pcOnly">
            <img src="{{ app.config.front_urlpath }}/img/news/news_indx_h01@2x.png" alt="NEWS ニュース"
                 class="spOnly">
        </h2>
        <div class="news2">
            {% for News in NewsList %}
                <ul>
                    <li>
                        <p class="lims">{{ News.date|date("Y/m/d") }}</p>
                        <p class="lims">
                            <a href="{{ url('news_detail',{id: News.id}) }}" {#onclick="showNews({{ News.id }})"#}>{{ News.title }}</a>

                        </p>
                    </li>
                </ul>
            {% endfor %}

        </div>

        {% if NewsList.totalItemCount > 0 %}
            {% include "pagination.twig" with { 'pages' : NewsList.paginationData } %}
        {% endif %}
    </div>
{% endblock %}
